footer {
    display: flex;
    flex-grow: row nowrap;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    border-top: 1px solid var(--color-border);
    text-align: center;
}